*
{
	margin:0px;
	padding: 0px;
}

/*style of the header*/
header
{
	text-align: right;
	font-size: 12px;
	height:120px;
	color: rgb(37,37,37);
}

header, .google-recherche
{
	width: 100%;
}

.gmailimage , .connexion
{
	margin:5px 10px;

}

img
{
	margin-top: 15px;
	
}

.connexion
{
	background-color: rgb(67,135,251);
	padding: 8px;
	height: 8px;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

.gmailimage:hover
{
	text-decoration:underline;;
}

img:hover
{
	color: #e5dbde;
}

/*style google serach section*/
.google-recherche
{
	
	height: 500px;
	text-align: center;
}

.google-recherche img
{
	width: 300px;
	height: 200px;
	margin:0px auto;
}

 input[type=search]
 {
	width:50%;
	height:45px;
	margin: 30px auto;
	padding: 12px 20px 12px 40px;
	background-color: white;
	border:1px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-radius: 2px;
}

input[type=search]:focus
{
    box-shadow: 3px 4px 2px 3px #f5edf0;

}

/*style the button*/
button[type=search]{
	border:none;
	padding: 10px 20px;
	font-size: 14px;
	border-radius: 2px;
}

button[type=search]
{
	font-size: 12px;
}

button[type=search]:hover
{
	color:black;
	border: 2px solid  #e1d2d9;
	border-radius: 3px;
	font-weight: bold;
	background-color: rgb(243,243,243);
}

/*style footer*/
footer{
	background-color: rgb(242,242,242);
	height: 40px;
	width: 100%;
	border-top: 1px solid   rgb(228,228,228);
	padding-top: 10px;
}

.adroite, .agauche
{
	color: rgb(128,123,115);
	font-size: 12px;
	text-decoration: none;
	margin: 0px 8px;
}

.adroite{
	float: right;
}

a:hover{
	text-decoration: underline;;
}


